@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --ap-dark-5: #555;
  --ap-dark-7: #777;
  --bc-lightorange: #EA5455;
  --text-lightorange: #EA5455;
}

$hover : #fff;
$dark-5 : #555;
$dark-7 : #777;
$bc-lightorange : #EA5455;

.ap-text-dark-5 {
  color: $dark-5;
}

.ap-text-dark-7 {
  color: $dark-7;
}

.ap-bc-lightorange {
  border-color: var(--bc-lightorange);
}

/*Frontend Admin styles*/
body {
  color: #666;
}

aside {}

nav {
  li {
    a {
      &:hover {
        svg {
          path {
            stroke: $hover;
          }
        }
      }
    }
  }
}

button.ap-button {
  &:hover {
    svg {
      path {
        stroke: $hover;
      }
    }
  }
}